body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: rgb(0, 34, 92);
    box-shadow: 0 5px 40px 15px rgba(0, 0, 0, 0.322);
}

.logo img {
    width: 200px;
}

.navLinks a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.navLinks a:hover {
    color: #70aeff;
}

@media (max-width: 420px) {
    header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 40px 15px 40px;
            background-color: rgb(0, 34, 92);
            box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.322);
        }

    .logo img {
        width: 140px;
    }

    .navLinks a {
        text-decoration: none;
        color: white;
        font-size: 22px;
        margin-left: 10px;
    }
}